.jh-space {
    margin-bottom: 75px;
}

.jh-container {
    min-height: 100%;
}

.jh-jumbo {
    background-image: url("https://www.thekalalochlodge.com/~/media/parks/kalaloch-lodge/headers/explore/thekalalochlodge-onp-hurricane-ridge-header-desktop.jpg?h=500&w=1500&la=en&hash=92C936728252547876AEB636405AF5A1377B9581");
    background-repeat: no-repeat;
    color: #2C3531;
}

.jh-card {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4BrdbiSFlik14dmb5/time-lapse-moving-cloud-on-blue-sky-background_4s9ilq19e__F0000.png");
    color: #2C3531;
    width: 500px;
    margin-bottom: 30px;
    border-radius: 2.25rem;
}

table, tr, td {
    border: none;
}

.jh-add-btn {
    margin-left: 43%;
    margin-bottom: 10px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }